<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="d-flex">
    <!-- Sidebar -->
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <div th:replace="fragments/sidebar :: allcss"></div>

    <!-- Main Content -->
    <div class="flex-grow-1 p-4 mt-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3>Students</h3>
            <a class="btn btn-success" th:href="@{/student/add}">+ Add Student</a>
        </div>

        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>SN</th>
                <th>Full Name</th>
                <th>Mobile Number</th>
                <th>Email</th>
                <th>Faculty</th>
                <th>College Join Date</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="student, iter : ${students}">
                <td th:text="${iter.index + 1}">1</td>
                <td th:text="${student.fullName}">John Doe</td>
                <td th:text="${student.mobileNumber}">0000000000</td>
                <td th:text="${student.email}">doejohn@gmail.com</td>
                <td th:text="${student.faculty}">CSIT</td>
                <td th:text="${student.collegeJoinDate}">22/09/2022</td>

                <td>
                    <a th:href="@{/student/edit/{id}(id=${student.id})}" class="btn btn-warning btn-sm">Edit</a>
                    <a th:href="@{/student/delete/{id}(id=${student.id})}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>